.entryLabel {
	display:block;
	font:bold 12px/1em Verdana,arial;
	padding:3px 0px;
	margin-top:10px;
	background:#E6E6FA;
	width:500px;
}

.formEntry textarea{
	width:500px;
	height:300px;
}

.formEntry input,.formEntry textarea {
	width:500px;
	padding:3px;
	border: 1px solid #4169E1;
}

.formClass {
	margin:10px;
}

.inputEntry {
	margin:10px 0px;
}

.formEntry #abstract {
	height:100px;
}