/*stili per il layout fisso*/
html, body
{
	margin: 0;
	padding:0;
}

body
{
	font:normal 15px/1.3 sans-serif,arial;
	text-align: left;
	background:#ffffff;
}

img
{
	border:0px;
}

#footer
{
	/*padding-bottom:5px;
	padding-top:5px;*/
}
#footer div
{
	text-align:center;
}
#footer a
{
/* 	color: #DC143C; */
}

.navigation-bar
{
	background-color: #015512;
	height:35px;
	padding-top:5px;
	padding-right:5px;
}

/*tree navigation*/
.position_tree_box
{
	margin:5px 0px 25px 0px;
	padding:5px;
	font:normal 14px/1 sans-serif,arial;
	border-top:1px solid #DC143C;
	border-bottom:1px solid #DC143C;
}
.position_tree_box a, .position_tree_box a.ui-link:visited, .position_tree_box .ui-link
{
	text-decoration:none;
	color:#DC143C;
}
/*.ui-body-d .ui-link {
    color:#DC143C;
    font-weight: bold;
}*/
.last_tree_element
{
	font-weight:bold;
}

.credits_item_title
{
	margin:15px 5px 5px 5px;
	padding:5px;
	padding-left:0px;
	border-bottom:1px solid #228B22;
	font-weight:bold;
}
.credits_item_description
{
	padding:5px;
	padding-left:0px;
	margin:5px;
	overflow:hidden;
	width:100%;
}

#hardware_list
{
/* 	padding:0 15px; */
	margin-top:20px;
	margin-bottom:20px;
}
.bottom_licence_notice
{
	clear:left;
	clear:right;
	font:normal 12px/1.2 sans-serif,arial;
	padding:10px;
	background:#E0FFFF;
	margin:25px 0px 5px 0px;
}
.page_list
{
	margin-top:28px;
}

.notebook_view_title
{
	margin-bottom:28px;
}
/*jquery mobile*/
.ui-header {
    background: #B7F18C;
}

.ui-li-thumb {
    left: 5px;
    max-height: 70px;
    max-width: 70px;
    position: absolute;
    top: 5px;
}

.ui-content .ui-listview {
    margin: 15px -15px;
}

#language-dialog .ui-header .ui-title
{
    display: block;
    font-size: 16px;
    margin: 0.7em 0;
    margin-left:30px;
    margin-top:0.8em;
    text-align: left;
}
.main_content_element
{
	padding:5px 0;
	border-top:1px dashed #000;
}

.track_alert
{
	border:10px solid red;
	padding:5px;
}

.device_description
{
	background-color:#E6E6FA;
	padding:5px;
}

.viewall_no_items_found
{
	font:normal 14px/1 sans-serif,arial;
	margin:20px 5px;
	padding:5px;
/* 	color: #FF4500; */
	border-top:1px solid #FF4500;
	border-bottom:1px solid #FF4500;
}

.home_objectives_description
{
	margin:5px;
	overflow:hidden;
	width:100%;
}
.home_objectives_description img
{
	float:left;
	margin-right:5px;
}
.home_objectives_title
{
	margin:15px 5px 5px 5px;
/* 	background:#90EE90; */
	font-weight:bold;
	padding:5px 0px;
	border-bottom:1px solid #228B22;
}

.home_container
{
	margin:20px 0px;
}

.tables_of_contents
{
	margin:20px 0;
	padding:5px;
	background-color:#EAF2F4;
	border:1px solid #C7DAEF;
	-moz-border-radius: 15px;
    -webkit-border-radius: 15px;
}
.tables_of_contents a
{
	font-size:14px;
}
.tables_of_contents_title
{
	margin:10px 25px;
	font-weight:bold;
}
/*wiki code*/
.code_pre
{
/* 	width:650px; */
	max-height:300px;
	overflow:scroll;
	background:#f9f4a7;
	padding:5px 0 5px 5px;
	font-size:12px;
/* 	color:#4169E1; */
	border:1px dashed #d4cb3b;
}

.div_h1
{
	font:bold 18px/1 sans-serif,arial;
	border-bottom:1px solid gray;
	padding:3px 0px;
	margin:20px 0px 10px 0px;
	color:gray;
}
.div_h2
{
	font:bold 17px/1 sans-serif,arial;
	color:gray;
	padding:2px 0;
}
.div_h3
{
	font:bold 16px/1 sans-serif,arial;
	color:gray;
	padding:2px 0;
}
.div_lang
{
	margin-top:4em;
	padding:8px;
	background:#cfe2ff;
	/*border-top:1px solid #FFA500;
	border-bottom:1px solid #FFA500;*/
}
.div_lang a
{
	padding:0px 3px;
}

.ui-body {
    padding-top: 0.8em;
    margin-top:10px;
}

.ui-li-desc { white-space: normal; }
.ui-li-heading { white-space: normal; }
.ui-li .ui-btn-text a.ui-link-inherit { white-space: normal;  }

.devices_list .ui-li-desc
{
/* 	border-bottom:1px dashed #A9A9A9; */
}

.ui-listview .ui-li-icon {
    top: 1.3em;
}

/*.ui-icon, .ui-icon-searchfield:after {
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    background: url("images/icons-18-white.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0.4);
}*/
