ul#menuBlock li {
	height:24px;
}

ul#menuBlock li ul {
	top:25px;
}

ul#menuBlock li ul li {
	margin-top:-3px;
}

.view_page_top_box
{
	height:32px;
}

.update_submit_class
{
	padding:7px;
}

.view_page_update_button
{
	width:40px;
}

/*div that contains the update form*/
.view_page_update_button
{
	margin-top:2px;
	margin-right:5px;
}
.update_submit_class
{
	padding:2px;
	width:30px;
}
.notebooks_insert_form
{
	margin-right:-30px;
}

.notebook_insert_link
{
	margin:0px 5px 0px 5px;
}
.top_left_images_help
{
	height:22px;
	margin-bottom:-3px;
}
ul#menuBlock li {
	height:26px;
}
ul#menuBlock li ul {
	left:-6px;
}
.user_logged
{
	margin-left:62px;
}
.viewall_popup_menu_status_item
{
	padding-left:10px;
}
.copyright_notice_box
{
	width:140px;
}
.language_links_box ul
{
	width:100%;
	margin:-1px 5px 30px 5px;
}
.language_links_box ul li
{
	margin-bottom:5px;
}
.language_links_box ul li a
{
	height:30px;
}
.talk_numb_ext
{
	margin-top:-30px;
}
.talk_numb_ext a
{
	margin-bottom:0px;
}