/*stile header di ogni view*/
.mainMenu {
	height:50px;
/* 	border-top:1px solid #ADD8E6; */
	border-bottom:1px solid #4169E1;
	padding-top:6px;
	margin-bottom:10px;
	background:#d1deed;
}
.mainMenuItem {
	float:left;
	width:60px;
	height:40px;
	margin-left:5px;
	border:1px outset #708090;
	background:#4169E1;
	text-align:center;
}

.mainMenuItem a {
/* 	margin:8px 5px 1px 10px; */
	display:block;
	margin-top:12px;
	color:#B0E0E6;
	font:bold 14px/1 Verdana,arial;
}

.verticalMenu {
	margin-bottom:30px;
	margin-left:10px;
/*	text-align:right;*/
}

ul#menuBlock {
/* 	float:right; */
	float:left;
	margin:0px;
	padding:0px;
	list-style:none;
 	height:24px;
}

ul#menuBlock li {
	position:relative;
	display:block;
	float:left;
	width:100px;
	border:1px outset #D3D3D3;
	height:21px;
#	height:24px;
	text-align:center;
	background:#E6E6FA;
	padding-top:3px;
}

ul#menuBlock li a {
	color:#696969;
	font: bold 12px/1 Verdana,arial;
}

ul#menuBlock li ul {
	margin:0px;
	padding:0px;
	list-style:none;
	position:absolute;
	top:24px;
#	top:25px;
	left:-1px;
	display:none;
}

ul#menuBlock li ul li {
#	margin-top:-3px;
}

/*ul#menuBlock li:hover ul{
	display:block;
}*/