ul {
	list-style-type: none;
}

div.mainPanel {

}

/*logout button*/
.logoutButton
{
	float:left;
	width:70px;
	height:40px;
	margin-left:5px;
	border:1px outset #708090;
	background:#4169E1;
	text-align:center;
}
.logoutButton a
{
	display:block;
	margin-top:13px;
	color:#B0E0E6;
	font:bold 12px/1 Verdana,arial;
}

/*list of application in the panel main action*/
.panelApplicationList
{
	padding:0px;
}
.panelApplicationList li
{
	display:block;
	width:200px;
	height:30px;
	border:1px outset #708090;
	margin:5px;
	background:#4169E1;
	padding-top:9px;
}

.panelApplicationList li a
{
	margin:5px;
	font: bold 14px/1 Verdana,arial;
	color:#B0E0E6;
}

/*list of groups an user is inserted within*/
.groupsList
{
	margin:20px 5px 5px 5px;
	font:normal 14px/1 Verdana,arial;
}
.groupsList li
{
	margin:5px 0px;
	padding:0px;
	font:bold 14px/1 Verdana,arial;
}
.groupsList ul
{
	padding:10px;
}

/*list of logged users in panel*/
.usersLoggedList
{
	margin:5px;
	text-align:right;
	font:normal 14px/1 Verdana,arial;
}