html, body{margin: 0;padding:0}

body{
	font-family: Verdana,arial,sans-serif;
	font-size: 11px;
	text-align: center;
/* 	background: #93045a; */
}

td {
	font-size: 12px;
}

img {
	border:none;
}

td.editForm, td.delForm, td.associateForm, td.moveupForm, td.movedownForm {
	width:3%;
}

td.editForm input, td.delForm input, td.associateForm input, td.moveupForm input, td.movedownForm input
{
	height:30px;
}

/*alert string*/
.alert {
	font:bold 12px/1.5 Verdana,arial;
	padding:5px;
	margin:5px 5px 15px 5px;
	background:TOMATO;
	border-top:2px solid MAROON;
	border-bottom:2px solid MAROON;
	color:MAROON;
}

/*executed operation string*/
.executed {
	font:bold 12px/1.5 Verdana,arial;
	padding:5px;
	margin:5px 5px 15px 5px;
	background:#E0FFFF;
	border-top:2px solid #ADD8E6;
	border-bottom:2px solid #ADD8E6;
	color:#4169E1;
}

/*action:main*/
tr.listRow {
	background:#E6E6FA;
}

tr.listHead {
	font-weight: bold;
	background:#d1deed;
	border:1px solid #4169E1;
	border-bottom:1px solid #4169E1;
}

tr.listHead td {
/* 	font-weight: bold; */
/* 	background:#d1deed; */
	border-top:1px solid #4169E1;
	border-bottom:1px solid #4169E1;
}

.recordsBox {
	margin:10px 0px;
}

.recordsBox table {
	width:100%;
}

.listItemForm {
	margin:0px;
}

a.linkItem {
/* 	background:red; */
	font:bold 12px/1 Verdana,arial;
}

/*controller:panel
/*action:main*/
.main_box {
	padding:50px 20px;
	width:700px;
	height:250px;
}
.top_color {
	text-align:center;
	width:160px;
	height:35px;
	margin:0;
	padding:0;
}
.bottom_color {
	background:lavender;
	text-align:center;
	width:160px;
	margin:0;
	padding:5px 0;
}