/*stili per il layout fisso*/
html, body
{
	margin: 0;
	padding:0;
}

body
{
	font:normal 15px/1.3 sans-serif,Verdana,arial;
	text-align: center;
	background:#ffffff;
}

img
{
	border:0px;
}


div#container
{
	width: 950px;
	margin: 0px auto;
	text-align: left;
	background:white;
}


/*stile header grande*/
div#external_header {
	background:#b7f18c;
	text-align:center;
	height:80px;
}
div#header {
	background:#b7f18c;
	width: 950px;
	margin: 0px auto;
	text-align:left;
	height:80px;
}

div#top_menu_external
{
	text-align:center;
	background:#015512;
	margin-bottom:50px;
/* 	border-top:1px solid #4169E1; */
/* 	border-bottom:1px solid #4169E1; */
}

div#top_menu
{
	font:bold 15px sans-serif,Verdana,arial;
	text-align:left;
	padding:0.4em 0px;
	background:#015512;
	width: 950px;
	margin: 0px auto;
}
#top_menu .currentitem a
{
	background:#DC143C;
	color:#FFF;
}

div#top_menu a
{
	font:bold 16px sans-serif,Verdana,arial;
	padding:0.4em 10px;
	text-decoration:none;
	font-weight:bold;
	color:#FFF;
/* 	border-left:1px solid #4169E1; */
}
#top_menu a:hover,
#top_menu a:focus,
#top_menu a:active
{
	background:#61c418;
}

div#top_menu ul
{
	list-style-type: none;
	display:inline;
	margin:0px;
	padding:0px;
}

div#top_menu li
{
	display:inline;
/* 	padding:10px; */
}


div#left
{
	width:730px;
	float:left;
}

div#right
{
	width:198px;
	float:right;
}

.login_username_input,.login_password_input
{
	width:150px;
}

.login_table_box
{
	clear:left;
	margin:5px;
	margin-bottom:35px;
}
.statistics_ext_box
{
	margin:5px;
	margin-bottom:30px;
}
.statistics_int_title
{
	margin:5px 0px 15px 0px;
	padding:3px 0px;
/* 	background-color:#B7F18C; */
	border-bottom:2px solid #DC143C;
	font-weight:bold;
}
.statistics_hard_title
{
	margin:5px 0px;
	color:#808080;
}
.user_logged
{
	margin-left:55px;
	color:black;
	font-weight:bold;
}
.login_right_label
{
	font-weight:bold;
}
.login_right_form input
{
	border:1px solid #6495ED;
	width:180px;
	padding:2px;
	margin:3px 0px;
}

.login_input
{
	width:100px;
}

.login_form_title
{
	color:black;
	
/* 	padding:10px; */
/* 	background:#5c98dc; */
}

.login_box
{
	margin-bottom:400px;
}

.hardware_element
{
	margin:5px;
	padding:10px;
	background:#c7daef;
/* 	border-bottom:1px solid #6495ED; */
}
.hardware_element_link
{
	margin:0px 10px;
}
.notebook_view_title
{
	width:400px;
	height:50px;
	float:left;
	overflow:hidden;
/* 	background:red; */
	margin:10px 0px 10px 10px;
	font:normal 14px/1 sans-serif,Verdana,arial;
}

.notebook_insert_link
{
/* 	border:1px solid black; */
/* 	background-color:#c1e3ef; */
	width:200px;
/* 	background:orange; */
	float:right;
	padding:3px 3px 1px 3px;
	margin:0px 5px 30px 5px;
	text-align:right;
	overflow:hidden;
	height:38px;
}

.select_entry
{
/* 	width:400px; */
	padding:2px;
/* 	border:1px solid #6495ED; */
}
.input_entry, .talk_input_entry
{
	width:400px;
	padding:2px;
	border:1px solid #6495ED;
}
.textarea_entry, .talk_textarea_entry
{
	width:630px;
	height:300px;
	padding:2px;
	border:1px solid #6495ED;
}
/*.talk_input_entry
{
	border:1px solid #CECECE;
}*/
.form_entry .talk_textarea_entry
{
	width:400px;
	height:200px;
	border:1px solid #6495ED;
}
.notebooks_insert_form
{
	width:660px;
	margin-left:10px;
}
.notebooks_insert_form .entry_label
{
	display:block;
	padding:3px 0px;
/* 	background:#E6E6FA; */
	width:600px;
	font-weight:bold;
}
.form_entry
{
	margin:20px 0px;
}


div#footer{
	margin:0px;
	color: #000;
  	height:40px; 
	background:#b7f18c;
	clear:both;
}

/*div#navigation li{background: url(immagini/tabella1.png) no-repeat left center;}*/
a.link_menu
{
	font: bold 16px/1.75em Verdana,"Times New Roman",sans-serif;
	text-decoration: none;
	color:#4169E1;
	margin-left:10px;
}


/*box contenente i link per tornare nel pannello utente e per sloggarsi*/
.your_status_box
{
	background:#E6E6FA;
	padding:5px;
}

.login_note
{
	color:#8080a6;
	margin:10px;
	padding:5px 0px;
	border-top:2px solid #8080a6;
	border-bottom:2px solid #8080a6;
	
	font: normal 16px/1.3 sans-serif,Verdana,arial;
}

/*singolo box contentente un portatile in view all*/
.notebooks_viewall
{
	clear:both;
	clear:right;
	margin:40px 0px;
	padding:3px;
/* 	border:2px solid #7dafe7; */
	font: normal 14px/1.5 sans-serif,Verdana,arial;

}
.model_viewall
{
	margin:40px 10px;
/* 	background-color:#F7F7F7; */
/* 	border:1px solid #CECECE; */
/* 	padding:10px; */
}
.notebook_model
{
/* 	background:orange; */
	padding:5px 0px;
	margin:0px 5px;
	overflow:hidden;
	width:100%;
/* 	margin-bottom:10px; */
	font:normal 14px/1 sans-serif,arial,Verdana;
	border-bottom:1px solid #7e0000;
}
.notebook_vendor, .notebook_compatibility, .notebook_kernel, .model_tested_on
{
	margin:5px 0px;
/* 	background:#eaebec; */
	padding:5px;
	width:654px;
	overflow:hidden;
/* 	border-top:2px solid #a4c8f1; */
}
.inner_label
{
	float:left;
	width:300px;
}
.inner_value
{
	float:left;
	width:300px;
	color:#1f538e;
	font-weight:bold;
}
.notebook_description_label
{
/* 	background:#B7F18C; */
	padding:5px 0px;
	margin:0px 5px;
	margin-top:1.5em;
/* 	margin-bottom:10px; */
	font:bold 14px/1 sans-serif,arial,Verdana;
	border-bottom:1px solid #7e0000;
/* 	border-bottom:1px solid #228B22; */
}
.notebook_description_value
{
/* 	border-top:2px solid #a4c8f1; */
	margin:5px 0px;
/* 	background:#eaebec; */
	padding:5px 5px;
	width:704px;
	overflow:hidden;
}
.notebook_view_link
{
	margin-top:10px;
}


/*alert string*/
.alert {
	clear:left;
	clear:right;
	font:bold 12px/1.5 Verdana,arial;
	padding:2px;
	margin:5px 5px 15px 5px;
/* 	background:TOMATO; */
/* 	border-top:2px solid MAROON; */
/* 	border-bottom:2px solid MAROON; */
	color:MAROON;
}

/*executed operation string*/
.executed {
	font:bold 12px/1.5 Verdana,arial;
	padding:5px;
	margin:5px 5px 15px 5px;
	background:#E0FFFF;
	border-top:2px solid #ADD8E6;
	border-bottom:2px solid #ADD8E6;
	color:#4169E1;
}

.view_page_top_box
{
	overflow:hidden;
	width:664px;
}
/*div that contains the update form*/
.view_page_update_button
{
	float:right;
}
/*.view_page_update_button input
{
	height:35px;
}*/
.view_page_update_button form
{
	width:33px;
	padding:0px;
}
.view_page_back_button
{
	float:left;
	width:50px;
}
/*the update submit button*/
.update_submit_class
{
	padding:2px;
	width:33px;
	font:normal 14px/1 sans-serif,Verdana,arial;
	cursor:pointer;
}
/*div that contains the link to the history page*/
.view_page_history_button
{
	float:right;
	width:30px;
	padding:3px;
	margin-left:10px;
/* 	border:1px solid #a4c8f1; */
/* 	height:30px; */
}
.view_page_history_button a
{
	text-decoration:none;
	color:#000;
}

.page_history
{
	margin:0px;
	padding:0px;
}
.page_history_item
{
	list-style-type: none;
	padding:5px;
	margin:2px;
	border-top:1px dashed #a4c8f1;
}
.page_history_current_item
{
	list-style-type: none;
	padding:5px;
	margin:5px 0px;
/* 	background:#ADD8E6; */
}
.history_title
{
	font:normal 14px/1 sans-serif,Verdana;
	margin:10px;
	padding:3px;
}

.revision_alert
{
	background:#f1d8d8;
	padding:8px;
	margin:5px;
	margin-bottom:20px;
	border-bottom:1px solid #d26262;
	border-top:1px solid #d26262;
}

/*page list in history*/
.history_page_list, .history_page_list_news {
	text-align:left;
	font:normal 14px/1 Verdana,arial;
	padding:10px;
	margin-bottom:15px;
}
.history_page_list_news
{
	background:#C7DAEF;
	margin:5px;
}
div.history_page_list a, div.history_page_list_news a {
	padding:5px 10px;
	border-left:1px outset #000;
/* 	border:1px outset #708090; */
/* 	color:#B0E0E6; */
/* 	background:#4169E1; */
}

div.history_page_list a.currentPage, div.history_page_list_news a.currentPage
{
	font-weight:bold;
	background:#DCDCDC;
}
div.history_page_list_news a
{
	border-left:none;
	color:#4169E1;
	font-weight:bold;
}

.viewall_no_items_found
{
	font:normal 14px/1 sans-serif,Verdana,arial;
	margin:10px;
	padding:5px;
}



.viewall_popup_menu_box {
	width:725px;
	height:30px;
	margin-bottom:0px;
	margin-top:10px;
	margin-left:0px;
}

.viewall_popup_menu_status
{
	clear:left;
	width:725px;
	overflow:hidden;
	margin-left:0px;
	text-align:center;
}
.viewall_popup_menu_status_item
{
	width:139px;
	float:left;
	margin-left:3px;
	color:#FF4500;
	font-weight:bold;
	font: bold 13px/1 sans-serif,arial,Verdana;
}

ul#menuBlock {
/* 	float:right; */
	float:left;
	margin:0px;
	padding:0px;
	list-style:none;
 	height:24px;
}

ul#menuBlock li {
	position:relative;
	display:block;
	float:left;
	margin-left:3px;
	width:139px;
	height:22px;
	text-align:center;
	background: url('../Img/popup_back.png') no-repeat top left;
/* 	background:#FFA500; */
	padding-top:3px;
}

ul#menuBlock li a {
	color:#000000;
	font: normal 12px/1 sans-serif,Verdana,arial;
}

ul#menuBlock li ul {
	margin:0px;
	padding:0px;
	list-style:none;
	position:absolute;
	top:24px;
	left:-3px;
	display:none;
}

ul#menuBlock li ul li {
	background:#ffef84;
	border-top:1px solid #ec8459;
}


/*view files with differences*/
.diff_ext_box
{
	margin:0px 5px 30px 5px;
}
.diff_item_label
{
/* 	background:#ADD8E6; */
/* 	padding:3px; */
	border-bottom:1px solid black;
}
.diff_item_text
{
	color:#7c7a7a;
	background:#F0FFF0;
	padding:3px;
}
del
{
	color:red;
}
ins
{
	color:green;
}



/*tree navigation*/
.position_tree_box
{
	margin:5px 5px 25px 5px;
	padding:5px;
	font:normal 14px/1 sans-serif,arial,Verdana;
	border-top:1px solid #DC143C;
	border-bottom:1px solid #DC143C;
}
.position_tree_box a
{
	text-decoration:none;
	color:#DC143C;
}
.last_tree_element
{
	font-weight:bold;
}



.td_with_distribution_checkboxes
{
	position:relative;
	display:block;
}
.dist_checkboxes_hidden_box
{
	display:none;
	position:absolute;
	background:#C1E3EF;
	top:20px;
	left:0px;
	width:400px;
	padding:3px;
}
.dist_checkboxes_hidden_box_inner
{
	height:150px;
	overflow:auto;
	z-index:400;
}
.hidden_box_item
{
	margin-bottom:10px;
}
/*wiki code*/
.code_pre
{
/* 	width:650px; */
	max-height:300px;
	overflow:auto;
	background:#f9f4a7;
	padding:5px 0 5px 5px;
	font-size:12px;
/* 	color:#4169E1; */
	border:1px dashed #d4cb3b;
}

.div_h1
{
	font:bold 15px/1 sans-serif,arial,Verdana;
	border-bottom:1px solid gray;
	padding:3px 0px;
	margin:10px 0px;
	color:gray;
}
.div_h2
{
	font:bold 14px/1 sans-serif,arial,Verdana;
	color:gray;
}
.div_h3
{
	font:bold 13px/1 sans-serif,arial,Verdana;
	color:gray;
}

.talk_login_notice
{
	margin:5px 5px;
	padding:5px;
	font:bold 14px/1 sans-serif,arial,Verdana;
/* 	border:1px solid #4169E1; */
/* 	color:#4169E1; */
/* 	background:#9acee3; */
}
.talk_message_item
{
	margin:5px 0px 35px 5px;
}
.talk_message_item_title_date
{
	border-bottom:1px solid gray;
	padding-bottom:5px;
/* 	width:300px; */
}
.talk_message_item_title
{
	font:bold 14px/1 sans-serif,arial,Verdana;
	margin-bottom:5px;
}
.talk_message_item_date
{
	font:normal 12px/1 sans-serif,arial,Verdana;
	color:gray;
}
.talk_message_item_content
{
	padding:5px 0px;
}
.talk_form_external_box
{
	margin-bottom:20px;
}

.model_id
{
	font:normal 12px/1 sans-serif,arial,Verdana;
/* 	color:gray; */
	margin:5px 3px;
	padding:3px;
}

.top_left_images
{
	height:35px;
}
.top_left_note_image
{
	height:30px;
}
.top_left_images_help
{
	height:30px;
	margin-bottom:-10px;
}

.who_you_are_and_logout, .your_panel_link
{
	margin:5px 0px 15px 0px;
	padding:5px 10px;
	background-color:#B7F18C;
/* 	font-weight:bold; */
/* 	border-top:1px solid #015512; */
/* 	border-bottom:1px solid #015512; */
}
.your_panel_link
{
	background:#DC143C;
/* 	color:#FFF; */
}
.your_panel_link a
{
	font-weight:bold;
	color:#FFF;
}

/*form*/
.entryLabel {
	display:block;
	font:bold 12px/1em Verdana,arial;
	padding:3px 0px;
	margin-top:10px;
/* 	background:#E6E6FA; */
	width:400px;
}

.formEntry {
	margin:20px 0px;
}

.formEntry input,.formEntry textarea {
	width:400px;
	padding:3px;
	border: 1px solid #CECECE;
}
.formEntry textarea
{
	height:100px;
}
.formClass {
	margin:10px;
	margin-right:-40px;
	width:400px;
}

.inputEntry {
	margin:10px 0px;
	float:left;
	width:80px;
	height:30px;
}

.panel_top_box
{
	background-color:#C1E3EF;
	margin:5px 5px 35px 5px;
	padding:10px;
	font:bold 14px/1 sans-serif,arial,Verdana;
	border-bottom:1px solid #097fbc;
}
.panel_top_box a
{
	color:#097fbc;
}

/*list of application in the panel main action*/
.panelApplicationList
{
	padding:0px;
}
.panelApplicationList li
{
	display:block;
	width:200px;
	height:30px;
	margin:5px;
	padding-top:9px;
}

.panelApplicationList li a
{
	margin:5px;
	font: bold 14px/1 sans-serif,Verdana,arial;
	color:#097fbc;
}

.confirm_notice
{
	margin:10px;
/* 	padding:10px; */
	font:normal 14px/1.5 sans-serif,arial,Verdana;
}

.meet_item
{
	margin:20px 0px;
}
.meet_item_inner
{
	border-bottom:1px dashed #ed9f4a;
	font-weight:bold;
/* 	color:#8f0754; */
}
.meet_contrib_link, .contrib_explain_box
{
	margin:10px;
}
.users_contrib_item
{
	margin:10px;
	padding:2px 0px;
	border-bottom:1px dashed #ed9f4a;
/* 	color:#8f0754; */
}
.external_users_contrib
{
	margin-bottom:40px;
}
.contrib_explain_box
{
	font-weight:bold;
	margin-bottom:30px;
}
.users_meet_box
{
	margin:25px 30px;
	padding:5px 20px;
	background:#f6ea99;
	border-bottom:1px solid #ed9f4a;
	border-top:1px solid #ed9f4a;
}
.delete_account_notice_box
{
	margin:25px 10px;
}
.climb_form_ext_box
{
	margin:25px 10px;
}

.new_account_title
{
	margin:10px;
}

.viewall_popup_menu_box_external, .edit_form
{
	clear:left;
	clear:right;
	margin-bottom:20px;
/* 	background:#E0FFFF; */
	padding:0px 10px 10px 0px;
}

.manage_account_link_box
{
	margin:5px 0px;
}

.login_right_box
{
	margin-bottom:15px;
}

.mandatory_fields_notice
{
	margin:10px 0px;
}

.help_tables_of_contents
{
	margin:10px;
	padding:10px;
}

.bottom_licence_notice
{
	font:normal 12px/1.2 sans-serif,arial,Verdana;
	padding:10px;
	background:#E0FFFF;
	margin:25px 0px 5px 0px;
}
.top_licence_notice
{
	clear:left;
	clear:right;
	font:normal 12px/1.2 sans-serif,arial,Verdana;
	padding:10px;
	background:#E0FFFF;
	margin:25px 0px 5px 0px;
	text-align:left;
}

/*.copyright_notice_box
{
	text-align:right;
	font: normal 12px/1 sans-serif,arial,Verdana;
	padding:14px;
}*/

.copyright_notice_box, .footer_credits_box
{
	width:120px;
	float:right;
	font: normal 12px/1 sans-serif,arial,Verdana;
	padding:14px;
	border-left:3px solid #FFF;
}
.footer_credits_box
{
	width:40px;
	border-left:3px solid #FFF;
}
.home_objectives_description
{
	margin:5px;
	overflow:hidden;
	width:100%;
}
.home_objectives_description img
{
	float:left;
	margin-right:5px;
}
.home_objectives_title
{
	margin:15px 5px 5px 5px;
/* 	background:#90EE90; */
	font-weight:bold;
	padding:5px 0px;
	border-bottom:1px solid #228B22;
}

.credits_item_title
{
	margin:15px 5px 5px 5px;
/* 	background:#90EE90; */
	padding:5px;
	border-bottom:1px solid #228B22;
	font-weight:bold;
}
.credits_item_description
{
	padding:5px;
	margin:5px;
	overflow:hidden;
	width:100%;
}

.home_container
{
	margin:20px 0px;
}

.issues_external_box
{
	margin:40px 5px;
}
.issues_viewall_title
{
	margin:10px 2px;
	font-weight:bold;
}
.issues_viewall_table
{
	font:normal 14px/1 sans-serif,arial,Verdana;
}
.issues_viewall_table td
{
/* 	background:#E6E6FA; */
	padding:5px;
/* 	border-bottom:1px solid #E6E6FA; */
}
.issues_viewall_table th
{
	background:#ADD8E6;
	border-top:1px solid #4169E1;
	border-bottom:1px solid #4169E1;
	padding:5px;
}

.issues_view_title, .issues_view_description_title
{
	font:bold 14px/1 sans-serif,arial,Verdana;
	padding:5px 0px;
	border-bottom:1px solid black;
}
.issues_view_status_and_priority
{
	margin:20px 0px;
	font:normal 12px/1 sans-serif,arial,Verdana;
}
.issues_view_description
{
	margin:20px 0px;
}

.add_issue_form_title
{
	margin:30px 5px;
	font-weight:bold;
}
.add_issue_form
{
	margin:30px 5px;
}

.contact_div
{
	margin:10px;
}

.help_external_box
{
	margin:5px;
}
.help_wiki_table thead
{
	text-align:left;
}

.hardware_element_image
{
	height:50px;
}
.markItUpContainer
{
	z-index:0;
}

.search_form
{
	clear:both;
	margin:5px 5px 35px 5px;
}
.search_form .input_entry_search
{
	width:250px;
	border: 1px solid #CECECE;
	padding:2px;
}

.search_result_item
{
	margin:5px 5px 15px 5px;
	border-top:1px solid #CECECE;
	padding:5px 0px;
}

.diff_color_notice
{
	background:#f1d8d8;
	padding:8px;
	margin:5px;
	margin-bottom:20px;
	border-bottom:1px solid #d26262;
	border-top:1px solid #d26262;
}

.gray_text_notice
{
	color:#7c7a7a;
}
.credits_external_box
{
	margin-bottom:40px;
}
.notebook_model img
{
	float:left;
}
.span_model_name
{
	float:left;
	margin-left:10px;
	padding-top:5px;
}

/*dialog*/
#dialog-form, #delete_dialog
{
	display:none;
}
#suggest_dialog
{
	display:none;
}
#dialog-form table
{
	text-align:left;
}
#dialog-form input
{
	width:300px;
	border:1px solid #CECECE;
}
#dialog-form textarea, #delete_dialog textarea
{
	width:300px;
	height:100px;
	border:1px solid #CECECE;
}
.ask_for_removal_class
{
	float:right;
	padding-top:5px;
}
.deletion_motivations_title
{
	margin:15px 5px;
	border-bottom:1px solid #D26262;
}

.deletion_motivations_iternal
{
	margin:15px 5px;
	padding:5px;
	border:1px dashed #D26262;
}
.deletion_motivations_iternal_message
{
	
}

.news_external_box
{
	margin:5px;
	margin-bottom:40px;
}
.news_item
{
/* 	background:#f8f1b2; */
/* 	padding:5px; */
	margin:30px 0px;
/* 	border:1px solid #f99f4f; */
}
.news_item_title
{
	font-weight:bold;
	margin:0px 0px 4px 0px;
	padding-bottom:5px;
	border-bottom:1px solid #9d1d04;
	color:#9d1d04;
}
.news_item_date
{
	font: normal 13px/1 sans-serif,arial,Verdana;
/* 	color:#e86a17; */
	color:gray;
	margin:0px 0px 10px 0px;
}

.discover_hardware, .download_database
{
	text-align:center;
	margin-bottom:5px;
}
.download_database
{
	margin-bottom:30px;
}

.download_table
{
	margin:10px 0px;
	padding:5px;
}
.download_table td
{
	padding:5px 5px;
	background:#E0FFFF;
}

.help_external_box h1
{
	background:#FFD700;
	padding:5px 10px;
	color:#800000;
	border-top:1px solid #800000;
	border-bottom:1px solid #800000;
	font:normal 20px/1 sans-serif,arial,Verdana;
}

.right_box_ext_box
{
	margin:5px;
	margin-bottom:300px;
}

.add_message_form_title
{
	margin:15px 0px;
	font-weight:bold;
	padding:5px 0px;
	color:#4169E1;
}

.issues_message_item, .issues_message_item_preview, .issues_message_item_hidden, .talk_message_item_hidden
{
	padding:10px;
	margin:20px 0px;
	background:#eaf2f4;
	border-top:1px solid #4169E1;
	border-bottom:1px solid #4169E1;
}
.issues_message_item_hidden, .talk_message_item_hidden
{
	background:#FFF;
/* 	background:#b5d6e0; */
	border-top:1px dashed #bcbcbc;
	border-bottom:1px dashed #bcbcbc;
}
.issues_message_item_preview
{
	background:#fffdc2;
	border-top:1px dashed #f9a92b;
	border-bottom:1px dashed #f9a92b;
}
.talk_message_item_hidden
{
	margin-bottom:40px;
/* 	background:#f1f1f1; */
}
.message_view_description
{
	clear:both;
	margin-bottom:5px;
}
.message_view_description_hidden
{
	margin-top:5px;
}
.message_preview_notice
{
	margin:3px 3px;
	font:bold 14px/1 sans-serif,arial,Verdana;
}
.useful_links_ext div
{
	margin:3px 0px;
	padding:1px;
	padding-left:20px;
	background: url(../Img/link.png) no-repeat left center;
}
.useful_links_ext div a
{
	color:#000;
	text-decoration:none;
	font:normal 14px/1 sans-serif,arial,Verdana;
}
.issues_message_item_user
{
	overflow:hidden;
	font-weight:bold;
	margin-bottom:1em;
}
.issues_message_item_user_inner
{
	float:left;
	width:500px;
}

.hide_general
{
	float:right;
	margin-left:10px;
	font-weight:normal;
	text-decoration:none;
	color:black;
}
.hide_general img
{
	margin-right:5px;
	margin-bottom:-2px;
}
.language_links_box ul
{
	overflow:hidden;
	margin:4px 5px 20px 5px;
	padding:0px;
	list-style-type:none;
}
.language_links_box ul li
{
	float:left;
	margin-bottom:10px;
	margin-right:10px;
	margin-top:5px;
}
.language_links_box ul li a
{
	padding:5px;
	text-decoration:none;
	color:black;
}
.language_links_box ul li a span
{
	margin-left:3px;
}
.language_links_box a.current_lang
{
	border-top:1px dashed #6495ED;
	border-bottom:1px dashed #6495ED;
}

.talk_numb_ext
{
	clear:both;
	text-align:left;
	margin-left:10px;
}
.talk_numb_ext a
{
	display:block;
	width:150px;
	text-align:center;
	padding:10px 0px;
	text-decoration:none;
	color:black;
	background: url(../Img/talk_messages.png) no-repeat left center;
	margin-bottom:10px;
	float:right;
	overflow:hidden;
}

.details_of_hidden_message
{
	display:none;
}
.details_of_hidden_message_inner, .details_of_actions_inner
{
	margin:10px 0px;
	background:#fbfbfb;
	padding:5px;
	border:1px solid #BCBCBC;
}
.details_of_actions_inner
{
	background:#ecfffe;
	border:1px solid #7ed0cb;
}

.md_type
{
	display:none;
}
.hidden_message_view_details
{
	font:normal 12px/1 sans-serif,Verdana,arial;
}
.deleted_message_show
{
	margin:8px 0px 0px 0px;
	font:normal 13px/1 sans-serif,arial,Verdana;
}