ul#menuBlock li {
	height:24px;
}

ul#menuBlock li ul {
	top:25px;
	margin-left:3px;
}

ul#menuBlock li ul li {
	margin-top:-1px;
}

.view_page_top_box
{
	height:32px;
}

.update_submit_class
{
	padding:7px;
}

.view_page_update_button
{
	width:35px;
}

/*div that contains the update form*/
.view_page_update_button
{
	margin-top:2px;
	margin-right:5px;
}
.update_submit_class
{
	padding:2px;
	width:45px;
}
.notebooks_insert_form
{
	margin-right:-30px;
}

.notebook_insert_link
{
	margin:0px 0px 0px 5px;
	padding-right:0px;
	width:245px;
}
.view_page_history_button
{
	margin-left:10px;
}
.top_left_images_help
{
	height:22px;
	margin-bottom:-3px;
}
ul#menuBlock li {
	height:26px;
}
ul#menuBlock li ul {
	left:-6px;
}
.user_logged
{
	margin-left:62px;
}
.viewall_popup_menu_status_item
{
	padding-left:2px;
/* 	background:red; */
}
.copyright_notice_box
{
	width:140px;
}
.language_links_box ul
{
	width:100%;
	margin:-1px 5px 30px 5px;
}
.language_links_box ul li
{
	margin-bottom:5px;
}
.language_links_box ul li a
{
	height:30px;
}
.talk_numb_ext
{
	margin-top:-30px;
}
.talk_numb_ext a, .talk_numb_ext_wiki a
{
	margin-bottom:0px;
}
.talk_numb_ext_wiki
{
	width:130px;
}
.language_links_box a.current_lang
{
	background:#6495ED;
}

.last_modifications ul
{
	margin-left:0px;
}